@model PatatZaak.Models.Businesslayer.Order
using System.ComponentModel.DataAnnotations;


@{
    ViewData["Title"] = "Create";
}

<div class="master-container">
    <div class="card cart">
        <label class="title">Your cart</label>
        <div class="products">
            @foreach (var product in Model.Products)
            {
                <div class="product">
                    <svg><!-- SVG voor afbeelding --></svg>
                    <div>
                        <span>@product.ProductName</span>
                        <p>@product.ProductDescription</p>
                        <p>Price: @product.ProductPrice</p>
                    </div>
                    <div class="quantity">
                        <button asp-action="UpdateProductQuantity" asp-route-orderId="@Model.OrderId" asp-route-productId="@product.ProductId" asp-route-quantity="-1">-</button>
                        <label>@product.ProductQuantity</label>
                        <button asp-action="UpdateProductQuantity" asp-route-orderId="@Model.OrderId" asp-route-productId="@product.ProductId" asp-route-quantity="1">+</button>
                    </div>
                    <label class="price small">@product.ProductPrice * @product.ProductQuantity</label>
                </div>
            }
        </div>
    </div>
    <div class="card checkout">
        <label class="title">Checkout</label>
        <div class="details">
            <span>Your cart subtotal:</span>
            <span>@Model.TotalPrice.ToString("C")</span>
        </div>
        <div class="checkout--footer">
            <button class="checkout-btn" asp-action="Checkout" asp-route-id="@Model.OrderId">Checkout</button>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
